{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
{#        <li>{{ question.question_text }}</li>#}
{#        {% if question.choice_set.all %}#}
{#            {% for choice in question.choice_set.all %}#}
{#                <p>{{ choice }}</p>#}
{#            {% endfor %}#}
{#        {% else %}#}
{#            <p>no choice for this question</p>#}
{#        {% endif %}#}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}